
<article class="r-post flex justify-between relative pb3 mb3">

  <div>
    <h3 class="js-expandmore dib f5 fw5 ma0 mr4" data-hideshow-prefix-class="animated">
      {{ post.title }}
    </h3>
    <div class="js-to_expand r-content mw6">
      {{ post.content }}
      <footer class="f6 resources__footer">
        {{ post.author }}
      </footer>
    </div>
  </div>
  {% if post.type. contains 'article' %}
    <div>
      <a class="r-link bn" href="{{ post.link-external }}">
        <svg width="29" height="14" viewBox="0 0 29 14" aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.7 2.3L28.42 7l-4.7 4.7-1.42-1.4L24.6 8H16V6h8.59l-2.3-2.3 1.42-1.4zM0 0h5.83l4.67 3.5V14H0V0zm2 2v10h6.5V4.5L5.17 2H2z" fill="#DBDEDE"/></svg>
        <span class="sr-only">
          Go to article: {{ post.title }}
        </span>
      </a>
    </div>
  {% elsif post.type. contains 'podcast' %}
    <div>
      <a class="r-link bn" href="{{ post.link-external }}">
        <svg width="29" height="14" viewBox="0 0 29 14" aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 12V2h2v10H8zM23.7 2.3L28.42 7l-4.7 4.7-1.42-1.4L24.6 8H16V6h8.59l-2.3-2.3 1.42-1.4zM4 14V0h2v14H4zM0 10V4h2v6H0z" fill="#DBDEDE"/></svg>
        <span class="sr-only">
          Go to podcast: {{ post.title }}
        </span>
      </a>
    </div>
  {% endif %}

</article>