
<article class="r-post relative pb3 mb3">

  <h3 class="ma0 ml4 f5 fw5">
    {% if post.link-external contains '/' %}
      <a class="bn" href="{{ post.link-external }}">
        {{ post.title }}
      </a>
    {% else %}
      {{ post.title }}
    {% endif %}
  </h3>

  <div class="note-btn mr2 js-expandmore" data-hideshow-prefix-class="animated">
    <span class="sr-only">Expand</span>
  </div>
  <div class="js-to_expand mw6 ml4">
    {{ post.content }}
    <footer class="f6 resources__footer">
      {{ post.author }}
    </footer>
  </div>

</article>