---
layout: default
title: Design Notes - Hunter Marcks
---
<main>
  <div class="pt5 ph3 ph4-ns">
    <div class="mw8 ml-auto mr-auto">

      <div class="flex items-center">
        <div class="links-trip">
          <svg class="links-icon" aria-hidden="true" viewBox="0 0 50 62" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 0H0v12h50V0H40v2H10V0zm18 62v-2H0V50h50v12H28zM0 14h50v10H0V14zm50 12H0v10h50V26zM0 38h50v10H0V38z" fill="#181918"/></svg>
        </div>
        <div class="links-link">
          <h1 class="ma0 f4 fw9">Design Notes</h1>
          <p class="ma0 f6 f5-ns">Resources and reminders, emphasis on digital</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt5 ph3 ph4-ns">
    <div class="r-container ml-auto mr-auto pb6">

      <div class="w-100">
        <div class="flex-ns bt bw1 b--dark-gray pt3">
          <h2 class="r-category w4 fw6 f5 mt0 mr4 mb3">
            Foundation
          </h2>
          <div class="w-100">
            {% for post in site.posts %}
              {% if post.categories contains 'Foundation' %}
                {% include resources-item.html %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="w-100">
        <div class="flex-ns bt bw1 b--dark-gray pt3">
          <h2 class="r-category w4 fw6 f5 mt0 mr4 mb3">
            Research
          </h2>
          <div class="w-100">
            {% for post in site.posts %}
              {% if post.categories contains 'Research' %}
                {% include resources-item.html %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="w-100">
        <div class="flex-ns bt bw1 b--dark-gray pt3">
          <h2 class="r-category w4 fw6 f5 mt0 mr4 mb3">
            Make
          </h2>
          <div class="w-100">
            {% for post in site.posts %}
              {% if post.categories contains 'Make' %}
                {% include resources-item.html %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="w-100">
        <div class="flex-ns bt bw1 b--dark-gray pt3">
          <h2 class="r-category w4 fw6 f5 mt0 mr4 mb3">
            Feedback
          </h2>
          <div class="w-100">
            {% for post in site.posts %}
              {% if post.categories contains 'Feedback' %}
                {% include resources-item.html %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="w-100">
        <div class="flex-ns bt bw1 b--dark-gray pt3">
          <h2 class="r-category w4 fw6 f5 mt0 mr4 mb3">
            Build
          </h2>
          <div class="w-100">
            {% for post in site.posts %}
              {% if post.categories contains 'Build' %}
                {% include resources-item.html %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="w-100">
        <div class="flex-ns bt bw1 b--dark-gray pt3">
          <h2 class="r-category w4 fw6 f5 mt0 mr4 mb3">
            Measure
          </h2>
          <div class="w-100">
            {% for post in site.posts %}
              {% if post.categories contains 'Measure' %}
                {% include resources-item.html %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="ph3 ph4-ns">
    <div class="mw8 ml-auto mr-auto">
      <div class="w-100 bt bw1 b--dark-gray pb4"></div>
      <p class="mt0 mb5"><a href="/" class="link--animate-left">About Me</a></p>
    </div>
  </div>

</main>



