<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hunter Marcks is a digital product designer in Portland, Oregon.">

    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "76cb672812fd4f239bf607134f0c37a2"}'></script>

    <script async defer src="https://beampipe.io/js/tracker.js" data-beampipe-domain="huntermarcks.net"></script>

  </head>

  <body>

    {{ content }}

    <footer class="ph3 ph4-ns pb7 f6 f5-ns site__footer">
      <div class="mw8 ml-auto mr-auto">
        <div class="w1 bt bw1 b--moon-gray pb5"></div>
        <p class="mv0">Updated on May 16, 2021</p>
        <p><a class="bn" href="mailto:hmarcks@gmail.com">hmarcks@gmail.com</a></p>
      </div>

      <script src="/assets/js/van11y-accessible-hide-show-aria.es6.js"></script>

    </footer>

  </body>

</html>
