<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/process">Process</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:hmarcks@gmail.com">hmarcks@gmail.com</a></li>
        <li><a href="Other Link">#</a></li>
      </ul>
    </footer>
  </body>
</html>
