<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hunter Marcks is a digital product designer in Portland, Oregon.">

    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "76cb672812fd4f239bf607134f0c37a2"}'></script>

    <script async defer src="https://beampipe.io/js/tracker.js" data-beampipe-domain="huntermarcks.net"></script>

  </head>

  <body>
    <header class="pt5 ph3 ph4-ns pb4 site__header">
      <div class="mw8 ml-auto mr-auto">
        <h1 class="f5 f3-ns fw6 tracked-smei-tight mt0 mb0">
          <a href="/" class="bn">Hunter Marcks</a>
        </h1>
<!--         <nav>
        <ul class="navigation">
          <li><a href="/">Hunter Marcks</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </nav> -->
      </div>
    </header>
    <div class="w2 bt bw1 b--dark-gray pb3"></div>

    {{ content }}

    <div class="w2 bt bw1 b--dark-gray pb3"></div>
    <footer class="pt4 ph3 ph4-ns pb7 f6 f5-ns site__footer">
      <div class="mw8 ml-auto mr-auto">
        <p>Updated on Feb 16, 2021</p>
        <p><a href="mailto:hmarcks@gmail.com">hmarcks@gmail.com</a></p>
      </div>

      <script src="/assets/js/van11y-accessible-hide-show-aria.es6.js"></script>

    </footer>

  </body>

</html>
